.product-detail {
  width: 22.5rem;
  height: 70vh;
  top: 68px;
  bottom: 68px;
}

.scrollable-detail {
  overflow-y: scroll;
}

.scrollable-detail {
  scrollbar-width: auto;
  scrollbar-color: #3a0c54 #ffffff;
  /* overflow-x: hidden; */
}